<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" media="screen" href="../css/styles.css" >
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>Register</title>
</head>
<body>
  <div class="home">
    <div id="bookstore">
      <a href="/"><img class="bookstoreImg" alt="bookstore" src="../pics/bookstore-logo.jpg"></a>
    </div>
  </div>
  <div class="regContent">
    <form class="contact_form"  method="post" name="contact_form">
        <ul>
            <li>
                 <h2>Add new book</h2>
                 <span class="required_notification">* Denotes Required Field</span>
            </li>
            <li>
                <label>Title:</label>
                <input type="text" name="title" placeholder="Title" required />
            </li>
    				<li>
    						<label>Genre:</label>
    						<input type="text" name="genre" placeholder="Genre" required />
    				</li>
    				<li>
    						<label>Description:</label>
    						<textarea name="description" cols="40" rows="6" required ></textarea>
    				</li>
    				<li>
    						  <label>Author:</label>
    						<input type="text" name="author" placeholder="Author" required />
    				</li>
    				<li>
    						<label>Publisher:</label>
    						<input type="text" name="publisher" placeholder="Publisher" required />
    				</li>
    				<li>
    						<label>Pages:</label>
    						<input type="text" name="pages" placeholder="Pages" required />
    				</li>
            <li>
                <label>Image URL:</label>
                <input type="url" name="image_url" placeholder="http://example.com" required pattern="(http|https)://.+"/>
                <span class="form_hint">Proper format "http://someaddress.com"</span>
            </li>
    				<li>
    						<label>Price:</label>
    						<input type="text" name="price" placeholder="Price" required />
    				</li>
    				<li>
    					  <label>Release date:</label>
    						<input type="text" name="release_date" placeholder="Release date" required />
    				</li>
    				<li>
    						  <label>Age limit:</label>
    						<input type="text" name="age_limit" placeholder="Age limit" required />
    				</li>
    				<li>
    						<label>Language :</label>
    						<input type="text" name="language" placeholder="Language" required />
    				</li>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <li>
            	<button class="submit" type="submit">Add Book</button>
            </li>
        </ul>
    </form>


<br>


    <p>
    </p>

    <% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(elements){ %>
    <div class="alert alert-danger"><%= elements.msg %></div>
    <%}); %>
    <%} %>

    <div class="row">
      <% if(typeof success_msg != 'undefined'){ %>
        <div class="alert alert-success"><%= success_msg %></div>
      <%} %>
      <% if(typeof error_msg != 'undefined'){ %>
        <div class="alert alert-success"><%= error_msg %></div>
      <%} %>
      <% if(typeof error != 'undefined'){ %>
        <div class="alert alert-success"><%= error %></div>
      <%} %>
    </div>




    <form class="contact_form"  method="post" name="contact_form" accept-charset="UTF-8" action = "/users/adminmenu/delete">
        <ul>
            <li>
                 <h2>Delete book</h2>
                 <span class="required_notification">* Denotes Required Field</span>
            </li>

            <li>
                <label>Book ID:</label>
                <input type="text" name="id" placeholder="Book ID" required />
            </li>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <li>
              <button class="submit" type="submit">Delete Book</button>
            </li>
          </ul>
      </form>



      <form class="contact_form"  method="post" name="contact_form" action = "/users/adminmenu/update">
    <ul>
        <li>
             <h2>Update Book</h2>
             <span class="required_notification"></span>
        </li>
        <li>
            <label>Book ID:</label>
            <input type="text" name="id" placeholder="Book ID" required />
        </li>
        <li>
            <label>Title:</label>
            <input type="text" name="title" placeholder="Title"  />
        </li>
        <li>
            <label>Genre:</label>
            <input type="text" name="genre" placeholder="Genre"  />
        </li>
        <li>
            <label>Description:</label>
            <textarea name="description" cols="40" rows="6"  ></textarea>
        </li>
        <li>
              <label>Author:</label>
            <input type="text" name="author" placeholder="Author"  />
        </li>
        <li>
            <label>Publisher:</label>
            <input type="text" name="publisher" placeholder="Publisher"  />
        </li>
        <li>
            <label>Pages:</label>
            <input type="text" name="pages" placeholder="Pages"  />
        </li>
        <li>
            <label>Image URL:</label>
            <input type="url" name="image_url" placeholder="http://example.com" />
            <span class="form_hint">Proper format "http://someaddress.com"</span>
        </li>
        <li>
            <label>Price:</label>
            <input type="text" name="price" placeholder="Price"  />
        </li>
        <li>
            <label>Release date:</label>
            <input type="text" name="release_date" placeholder="Release date"  />
        </li>
        <li>
              <label>Age limit:</label>
            <input type="text" name="age_limit" placeholder="Age limit"  />
        </li>
        <li>
            <label>Language :</label>
            <input type="text" name="language" placeholder="Language"  />
        </li>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <li>
          <button class="submit" type="submit">Update Book</button>
        </li>
    </ul>
</form>
  </div>
  <div id="footter">
    <p id="copyrights">by Medvedskyi Denys 2016</p>
  </div>
</body>
</html>
