<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../css/styles.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <script src="../javascripts/jquery-3.1.1.min.js"></script>

  <title>Bookstore</title>
 </head>
 <body>
<div class="home">
  <div id="bookstore">

    <a href="/"><img class="bookstoreImg" alt="bookstore" src="../pics/bookstore-logo.jpg"></a>
  </div>
  <div id="logInField">
    <% if(null == user) {%>
      <br><br>
      <div id="logregField">
        <a href="/users/login" id="loginLink"><div>Log in</div></a>
        <a href="/users/register" id="loginLink"><div>Register</div></a>
               <a href="about">About Us</a>

      </div>
    <%}else {%>
      <br><br>
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <a href="/users/profile"><img class="profileImg" alt='profileImg'  src="data:image/jpg;base64, <%= user.avatar %>" width="66px" lenght="66px"></a>
        <a href="/users/logout" id="loginLink"><div>Log out</div></a>
               <a href="about">About Us</a>
      </div>
    <%} %>
  </div>
  </form>
</div>
</div>
<div class="content">
  <div class="left-toolbar">


  <div id="products">
    <% for (let i = 0; i < arr.length; i++) {  %>
      <p>
      username: <%= arr[i].username %><br>
      firstname: <%= arr[i].firstname %><br>
      lastname: <%= arr[i].lastname %><br>
      email: <%= arr[i].email %><br><br><br><br>

    <%}%>
  </div>
</div>
<div id="footer_line">
  <p id="co">by Medvedskyi Denys 2016</p>
</div>
</body>
</html>
