<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="../stylesheets/books.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
  <title><%= title %></title>
 </head>
 <body>
   <img class="currentImg" alt='<%= title %>' src="<%= image_url %>" width="300px" lenght="300px">
  <p id="ftitle"></p>
  <p>
       title: <%= title %><br>
       genre: <%= genre %><br>
       description: <%= description %><br>
       author: <%= author %><br>
       publisher: <%= publisher %><br>
       pages: <%= pages %><br>
       price: $<%= price %><br>
       release_date: <%= release_date %><br>
       age_limit: <%= age_limit %><br>
       language: <%= language %><br>  <hr>
<a href="/books">Скорее назад!</a>
 </body>
</html>
