<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/drugs.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <script type="text/javascript" src="/scripts/cookies.js"></script>
  <script type="text/javascript" src="/scripts/onload.js"></script>
  <title>vApteka</title>
 </head>
 <body>
<div class="home">
  <div id="pharmacyName">
    <a href="/"><img class="baseImg" alt='pharmacyName' src="/pics/pharmacyName.jpg" width="1616px" lenght="150px"></a>
  </div>
  <div id="basket">
    <a href="/basket">
      <div id="basketBackground"></div>
      <div id="basketName">
        <label>Basket</label>
        <div id="circle">
          <div id="basketSize"></div>
        </div>
      </div>
    </a>
  </div>
  <div id="logInField">
    <% if(null == user) {%>
      <div id="logregField">
        <a href="/users/login" id="loginLink"><div>Log in</div></a>
        <a href="/users/register" id="loginLink"><div>Register</div></a>
      </div>
    <%}else {%>
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <div id="avatarImg"><a href="/users/profile"><img alt='profileImg' src="data:image/jpg;base64, <%= user.avatar %>" width="66px" lenght="66px"></a></div>
        <a href="/users/logout" id="loginLink"><div id="logoutF">Log out</div></a>
      </div>
    <%} %>
  </div>
</div>
<!-- Special part start -->
<div class="content">
  <div id="backIndex">
    <a href="/"><p><<< Go Back</p></a>
  </div>
  <div id="products">
    <%console.log(arr)%>

      <div id="products">
        <% for (let i = 0; i < arr.length; i++) {  %>
           <div class="product"><a href="/book/<%= arr[i].id %>" class="productLink"><img class="imgLink" alt="<%= arr[i].title %>" src="<%=arr[i].image_url%>" width="85%" lenght="85%"><%= arr[i].name %></a></div>
        <%}%>
      </div>

  </div>
  <div id="pagesField">
    <div>
      <% for (let i = 1; i <= pages; i++) {  %>
        <% if(i == page) {%>
          <a id="uniquePage" href="/books/<%= i %>"><%= i %></a>
        <%}else {%>
          <a href="/books/<%= i %>"><%= i %></a>
        <%}%>
      <%}%>
    </div>
  </div>
</div>
<!-- Special part ends -->
<div id="bottomOfSite">
  <p id="rights">(c) 2016 Vapteka, all rights reserved</p>
</div>
</body>
</html>
