<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="../css/index.css">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <title>Account</title>
 </head>
 <body>
   <div class="home">
     <div id="bookstore">
       <a href="/"><img class="bookstoreImg" alt="bookstore" src="../pics/bookstore-logo.jpg"></a>
     </div>
   </div>
   <div class="Content">
     <div id="currentUser">

       <div id="user"><img class="avatarImg" alt='avatar' src="data:image/jpg;base64, <%= user.avatar %>" width="200px" lenght="200px"></div>
        <p>First name: <%= user.firstname %><br>Last name: <%= user.lastname %></p>
       <p id="user">Username: <%= user.username %><br>E-mail: <%= user.email %><br>
       <form action='?_csrf=<%=csrfToken%>' enctype="multipart/form-data" method="post">
          <p>Upload avatar (format .jpeg)<br><input type="file" name="avatar" accept="image/jpeg"><br>

          <input type="submit" value="Submit"></p>
       </form>
       <% if(user.admin == true){%>
         <a href="/users/adminmenu">Admin Menu</a>
       <%}%>
       <% if(user.admin == true){%>
         <a href="/users/adminmenu/users">All users</a>
       <%}%>
     </div>
   </div>
   <div id="footter">
     <p id="copyrights">by Medvedskyi Denys 2016</p>
   </div>
</body>
</html>
