<% console.log(user)%>
<!DOCTYPE HTML>
<html>
 <head>
  <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../css/styles.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
  <script src="../javascripts/jquery-3.1.1.min.js"></script>
    <script src="../javascripts/ajaxm.js"></script>
        <script src="../javascripts/mustache.js"></script>


  <script id="my-list-template" type="x-tmpl-mustache">
    {{#books}}
    <div class="product" style=" height:50px;">

    <a href="/{{_id}}" class="productLink">
      <br><label id="productName">{{title}}</label>
    </a>
      </div>
    {{/books}}


  </script>

  <title>Bookstore</title>
 </head>
 <body>
<div class="home">
  <div id="bookstore">

    <a href="/"><img class="bookstoreImg" alt="bookstore" src="../pics/bookstore-logo.jpg"></a>
  </div>
  <div id="logInField">
    <% if(null == user) {%>
      <br><br>
      <div id="logregField">
        <a href="/users/login" id="loginLink"><div>Log in</div></a>
        <a href="/users/register" id="loginLink"><div>Register</div></a>
               <a href="about">About Us</a>

      </div>
    <%}else {%>
      <br><br>
      <div id="profileField">
        <a href="/users/profile"><label><%= user.firstname %> <%= user.lastname %></label></a>
        <a href="/users/profile"><img class="profileImg" alt='profileImg'  src="data:image/jpg;base64, <%= user.avatar %>" width="66px" lenght="66px"></a>
        <a href="/users/logout" id="loginLink"><div>Log out</div></a>
               <a href="about">About Us</a>
      </div>
    <%} %>
  </div>
  </form>
</div>
</div>
<div class="content">
  <div class="left-toolbar">

    <div class="search_area">
          <form class="searchSearch" method="get">
            <input type="search" name="q" placeholder="seaarch.." class="inputSearch" id="search_box" >
          </form>
          <div id="search_advice_wrapper"></div>
        </div>
<br><br>
<br>
<br>


  <div id="template-output"></div>


  <!--<div id="products">
    <% for (let i = 0; i < arr.length; i++) {  %>
       <div class="product"><a href="<%= arr[i].id %>" class="productLink"><img class="imgLink" alt="<%= arr[i].title %>" src="<%=arr[i].image_url%>" width="85%" lenght="85%"><%= arr[i].name %></a></div>
    <%}%>
  </div>-->
</div>
<div id="footer_line">
  <p id="co">by Medvedskyi Denys 2016</p>
</div>
</body>
</html>
